<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mage Wars Kodex</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      /*body {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }*/
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      blockquote {
          margin: 0;
          padding: 0;
      }
      body {
        font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #737373;
        background-color: white;
        margin: 10px 13px 10px 13px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
          color: #404040;
          line-height: 36px;
      }
      h2 {text-transform: uppercase;}
      h4 {margin-top: -15px;}
      a {
          color: #0069d6;
      }
      a:hover {
          color: #0050a3;
          text-decoration: none;
      }
      p {
          margin-bottom: 9px;
      }
      * {
      	-webkit-print-color-adjust: exact;
      }
      @media screen and (min-width: 914px) {
          body {
              width: 854px;
              margin:10px auto;
          }
      }
      @media print {
      	body,code,pre code,h1,h2,h3,h4,h5,h6 {
      		color: black;
      	}
      	table, pre {
      		page-break-inside: avoid;
      	}
      }
    </style>
  </head>
  <body>
    <%= @body %>
  </body>
</html>
